body {
      background-color: #ffff;
}


header {
      display: grid;
      grid-template-columns: auto 50% auto;
      grid-template-rows: auto auto;
      // justify-content: center;

      img {
            width: 40%;
            height: auto;
            justify-self: center;
            grid-column: 2 / span 1;
      }
      form {
            
            grid-column: 2;
            grid-row: 2;
            input {
                  width: 100%;
                  height: 2rem;
                  border-radius: 3px;
                  border-color: #2196f3;

            }
      }
}

body {
      #container {
            display: grid;
            grid-template-columns: 20% 1fr 1fr 20%;

            .queryResult {
                  grid-column: 2 / 4;

                  .title {
                        color: #1f1ff5;
                        margin-bottom: 5px;
                  }


                  .lien {
                        color: #228b22;
                        &:visited {
                              color: #228b22;
                        }
                  }


                  .resume {
                        color: #000000;
                        
                  }
            }

      }
}